## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: It is a numeric data type.

Strings: It is immutable.

Lists: list help us to store multiple iteam in single variable.  list uses []

Tuples: list also help us to store multiple iteam in single variable. Tuples uses ()

Dictionaries:it is a collection of key value pairs.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [8]:
10*10/1 + 2**2 - 3.75

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)=44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 =34

In [1]:
a = 4
b = 6
c = 5
result1 =a*(b+c)
result2 =a*b+c
result3 =a+b*c
print(result1,result2,result3)

44 29 34

In [ ]:
# What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [ ]:
What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root:

In [ ]:
# Square:

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [5]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [28]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [29]:
s ='hello'
# Print out the 'o'

# Method 1:

In [7]:
# Method 2:
s[4]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [ ]:
# Method 1:

In [ ]:
# Method 2:

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [14]:
list3 = [1,2,[3,4,'hello']]

In [15]:
list3

[1, 2, [3, 4, 'hello']]

In [16]:
list3[2][2]='goodbye'

In [17]:
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [22]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [23]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [24]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [25]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [ ]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

Can you sort a dictionary? Why or why not?<br><br>
we cannot sort beacause of keys and values

## Tuples

What is the major difference between tuples and lists?<br><br>
tuples are immutable ()
list are mutable []

How do you create a tuple?<br><br>
by using ()

## Sets

What is unique about a set?<br><br>
it store unique iteam and immutable

Use a set to find the unique values of the list below:

In [26]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
print(list5)
s =set(list5)
print(s)

[1, 2, 2, 33, 4, 4, 11, 22, 3, 3, 2]
{1, 2, 33, 4, 3, 11, 22}

## Great Job on your first assessment!